body{
    background-color: #fdf498;

}
.header{
    margin: auto;
    width: 700px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 700px;
       /* padding: 10px; */
}
h1{
    font-family: 'Source Sans Pro','Geneva';
    
    /* justify-content: center; */
    margin-top: 15px;
}

img{
    width: 130px;
    height: auto;
    margin-bottom: 10px;
   
}

.announceSelector{
    font-family: 'Roboto', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: 40px;
    
}
.threeChoices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
}
.button{
    border: solid 3px rgb(199, 35, 35);
}

.rockPic{
    width: auto;
    height: 100px;
    padding: 20px;
}

.resultSection{
    display: flex;
    flex-direction: column;
    
    align-items: center;
}
.resultPara{
    font-family: 'Titan One';
    font-size: 20px;
}

.scoreboard{
    font-size: 20px;
}